## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN'])

In [3]:
# Drop additional columns for optimization
application_df = application_df.drop(columns = ['SPECIAL_CONSIDERATIONS', 'STATUS'])

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
name_count = application_df['NAME'].value_counts()
name_count

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [6]:
list(name_count[name_count < 10])

[9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]

In [7]:
# Choose a cutoff value and create a list of application types to be replaced use the variable name `application_types_to_replace`
names_to_replace = list(name_count[name_count < 10].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: count, Length: 223, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
apptype_count = application_df['APPLICATION_TYPE'].value_counts()
apptype_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced use the variable name `application_types_to_replace`
application_types_to_replace = list(apptype_count[apptype_count < 1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_count = application_df['CLASSIFICATION'].value_counts()
class_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [12]:
ask_amount = application_df['ASK_AMT'].value_counts()
list(application_df['ASK_AMT'])

[5000,
 108590,
 5000,
 6692,
 142590,
 5000,
 31452,
 7508025,
 94389,
 5000,
 69656,
 165593,
 5000,
 5301,
 5000,
 5000,
 5000,
 86380556,
 5000,
 376109,
 5000,
 5000,
 318296,
 5000,
 5000,
 5000,
 5000,
 44004,
 5000,
 5000,
 323466,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 709815,
 1329410,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 31613,
 1549352,
 5000,
 577113,
 44623,
 64868,
 131620,
 5000,
 306133,
 66916,
 5000,
 236206,
 5000,
 393704,
 5000,
 5000,
 9955466,
 94869,
 5000,
 6501,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 36607,
 5000,
 5000,
 5000,
 484855,
 5000,
 137272,
 5000,
 5000,
 101980,
 4410503,
 5000,
 5000,
 5000,
 15477,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 24211,
 9868,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 638229,
 20520,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 8160,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 34879,
 5000,
 205120,
 5000,
 5000,
 5000,
 5000,
 12829,
 452970,
 72961,
 5000,
 5000,
 5000,
 5000,
 5000,
 12860,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 696502,
 5000,
 5000,
 5000,
 259589,
 5000,
 5000,
 5213,
 5000,
 5000,
 5000,
 5000,
 5000,
 49112,
 5000,
 5000,
 5000,
 86584,
 5000,
 5000,
 4108874,
 25175802,
 5000,
 132449,
 5000,
 5000,
 5000,
 5000,
 5000,
 73686,
 5000,
 5000,
 723426,
 5000,
 5000,
 5000,
 521883,
 5000,
 855350,
 5000,
 5000,
 5000,
 5000,
 370941,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 1728949,
 5000,
 5000,
 5000,
 287332,
 1790960,
 23799,
 201655,
 5000,
 5000,
 5000,
 27285052,
 5000,
 7139,
 74643,
 5000,
 5000,
 640921,
 2705244,
 2770474,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 61686,
 1064584,
 5000,
 25736,
 5000,
 17512616,
 39064,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 67654,
 5000,
 5000,
 139694,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 212362,
 5000,
 87981,
 5000,
 5000,
 16027,
 5000,
 5000,
 5000,
 1066994,
 107484,
 5000,
 9860,
 5000,
 5000,
 5000,
 5000,
 5000,
 20380,
 5000,
 5000,
 5000,
 5000,
 293732,
 5000,
 2471994,
 5000,
 2793433,
 5000,
 5000,
 324268,
 5000,
 343650,
 5000,
 5000,
 5000,
 5000,
 5000,
 497726,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 28993,
 118358,
 2257305,
 5000,
 5000,
 5000,
 5000,
 5000,
 64723,
 403069,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 8120,
 329188,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 6960,
 5000,
 180240,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 47901,
 5000,
 5000,
 23322,
 5000,
 5000,
 5000,
 5000,
 102050,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 25846,
 10935786,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 1562336,
 281725,
 5000,
 122937,
 12753,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 410463,
 38286,
 22527,
 5000,
 47129,
 5000,
 5000,
 966422,
 5000,
 5000,
 718228,
 5000,
 5000,
 5000,
 5000,
 2461713,
 876484,
 14698,
 110885,
 5000,
 5000,
 5000,
 11659,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 64075,
 78769,
 5000,
 5000,
 2908673,
 5000,
 216643,
 16221,
 5000,
 5000,
 5000,
 140950,
 3676333,
 5000,
 30079,
 5000,
 5000,
 5000,
 5000,
 5000,
 9390,
 98931,
 5000,
 12509,
 20770,
 5000,
 118386,
 120281,
 5000,
 6209,
 71609,
 155956,
 5000,
 5000,
 176563,
 5000,
 977905,
 5000,
 5000,
 5000,
 5000,
 64035,
 5000,
 5000,
 5000,
 5000,
 5000,
 34914,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 1019926,
 5000,
 1202409,
 540615,
 5000,
 2205817,
 5000,
 13201,
 5000,
 70786,
 43808,
 5000,
 240757,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 6354,
 27001,
 49983,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 9246,
 90657,
 5000,
 5000,
 5000,
 36355,
 22840,
 5000,
 5000,
 9516,
 215957,
 5000,
 805021,
 5000,
 2238748,
 5000,
 5000,
 5000,
 5000,
 8517,
 5000,
 13541,
 410489,
 340393,
 5000,
 5000,
 5000,
 195884,
 5000,
 84674,
 5000,
 3032675,
 5000,
 5000,
 51846,
 5000,
 5000,
 990952,
 5000,
 5000,
 52853,
 5000,
 5000,
 5000,
 5000,
 21590,
 5000,
 54922,
 5000,
 5000,
 5000,
 24773,
 5000,
 5000,
 5000,
 5000,
 199269,
 59647,
 5000,
 199400,
 5000,
 5000,
 5000,
 5000,
 5000,
 5003439,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 73046,
 114797,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 8123,
 5000,
 5000,
 872138,
 5000,
 5000,
 5000,
 5000,
 101742,
 5000,
 5000,
 5000,
 16626,
 9206,
 13499,
 5000,
 5000,
 5000,
 5000,
 5000,
 27863219,
 5000,
 247168896,
 406966250,
 296261,
 5110425,
 10466,
 5000,
 5000,
 5000,
 5000,
 5000,
 114990,
 18006,
 5000,
 267048,
 5000,
 5000,
 29219,
 5000,
 306719,
 5000,
 148943,
 64047,
 355396,
 32792,
 5000,
 5000,
 5000,
 5000,
 334025,
 5000,
 171405,
 5000,
 5000,
 5000,
 5000,
 9575,
 158003,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 424802,
 27255,
 5000,
 5000,
 5000,
 5000,
 5000,
 4547683,
 5000,
 8931,
 37597,
 5000,
 37875,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 21636,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 351108,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 1572972,
 5000,
 11207593,
 1736232349,
 218627,
 5000,
 3149430,
 5000,
 561758,
 33532,
 46555,
 16642,
 5000,
 5000,
 337373,
 5000,
 5000,
 5000,
 19343,
 5000,
 2641513,
 41553,
 221007,
 17725,
 64591,
 5000,
 5000,
 5000,
 5000,
 5000,
 1469041,
 5000,
 193098,
 130575,
 5000,
 5000,
 5000,
 10886,
 5000,
 5000,
 17536,
 5000,
 6503,
 50890,
 5000,
 5000,
 5000,
 88085,
 1755888,
 36042,
 5000,
 5000,
 5000,
 51536,
 21573,
 143157,
 5000,
 515121,
 5000,
 5000,
 5000,
 5000,
 31805,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 72910,
 161116,
 5000,
 83705,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 6079,
 5000,
 6291,
 5000,
 5000,
 1326447551,
 2169178,
 510659,
 5000,
 5000,
 85111,
 5000,
 8475,
 5000,
 27625,
 5000,
 45937,
 3927283,
 5000,
 5000,
 542425,
 5000,
 5000,
 5000,
 15532,
 1081788,
 5000,
 5697,
 5000,
 5000,
 5000,
 184668,
 5000,
 5000,
 5000,
 12948,
 5000,
 5000,
 5000,
 5000,
 55841,
 5000,
 5000,
 5000,
 38801,
 32069,
 5000,
 297391,
 5000,
 5000,
 5384,
 5000,
 5000,
 1148719,
 5000,
 5000,
 5000,
 18407,
 5000,
 5000,
 5000,
 40361,
 5000,
 5000,
 173945,
 5000,
 5000,
 5000,
 5000,
 5000,
 692776,
 5000,
 5000,
 5000,
 5000,
 206768445,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 50845,
 5000,
 5000,
 273659,
 1318898,
 5000,
 5000,
 5000,
 5000,
 243191,
 5000,
 5000,
 67177,
 5000,
 126282,
 1382305,
 14855,
 5000,
 5000,
 5000,
 286485,
 5000,
 5000,
 862716,
 5000,
 5000,
 5000,
 5000,
 5000,
 5000,
 8565,
 5000,
 5000,
 5000,
 5000,
 197647,
 5000,
 370327,
 18980,
 9785,
 5000,
 67988,
 85654,
 2822776,
 21998,
 5421,
 5000,
 5000,
 5000,
 30819,
 5000,
 19147,
 ...]

In [13]:
bins = [0, 10000, 50000, 100000, 500000, 1000000, float('inf')]
labels = ['Very Low', 'Low', 'Medium', 'High', 'Very High', 'Extreme']

application_df['ASK_AMT'] = pd.cut(application_df['ASK_AMT'], bins=bins, labels=labels, right=False)

In [14]:
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,Other,Other,Independent,C1000,ProductDev,Association,0,Very Low,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1-9999,High,1
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,0,Very Low,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,Very Low,1
4,Other,T3,Independent,C1000,Heathcare,Trust,100000-499999,High,1

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_with_dummies = pd.get_dummies(application_df)
application_df_with_dummies.head()

,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,...,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,ASK_AMT_Very Low,ASK_AMT_Low,ASK_AMT_Medium,ASK_AMT_High,ASK_AMT_Very High,ASK_AMT_Extreme
0,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [16]:
# Split our preprocessed data into our features and target arrays
X = application_df_with_dummies.drop(['IS_SUCCESSFUL'], axis='columns').values
y = application_df_with_dummies["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=87)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  50
hidden_nodes_layer2 = 25
hidden_nodes_layer3 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                13300

 dense_1 (Dense)             (None, 25)                1275

 dense_2 (Dense)             (None, 12)                312

 dense_3 (Dense)             (None, 1)                 13

=================================================================
Total params: 14,900
Trainable params: 14,900
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.4927 - accuracy: 0.7637
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4489 - accuracy: 0.7824
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4437 - accuracy: 0.7846
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4405 - accuracy: 0.7853
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4382 - accuracy: 0.7881
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4363 - accuracy: 0.7889
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4354 - accuracy: 0.7894
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4340 - accuracy: 0.7898
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4329 - accuracy: 0.7904
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4325 - accuracy: 0.7903
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4312 - accuracy: 0.7902
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4306 - accuracy: 0.7912
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4300 - accuracy: 0.7914
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4293 - accuracy: 0.7912
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4282 - accuracy: 0.7924
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4274 - accuracy: 0.7932
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4268 - accuracy: 0.7931
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4268 - accuracy: 0.7930
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4259 - accuracy: 0.7930
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4248 - accuracy: 0.7941
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4251 - accuracy: 0.7941
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4240 - accuracy: 0.7948
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4236 - accuracy: 0.7941
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4232 - accuracy: 0.7933
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4228 - accuracy: 0.7944
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4220 - accuracy: 0.7961
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4218 - accuracy: 0.7950
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4211 - accuracy: 0.7959
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4204 - accuracy: 0.7959
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4203 - accuracy: 0.7964
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4193 - accuracy: 0.7958
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4196 - accuracy: 0.7961
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4189 - accuracy: 0.7969
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4189 - accuracy: 0.7970
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4188 - accuracy: 0.7973
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4182 - accuracy: 0.7966
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4177 - accuracy: 0.7973
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4178 - accuracy: 0.7967
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4169 - accuracy: 0.7981
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4170 - accuracy: 0.7967
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4163 - accuracy: 0.7975
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4163 - accuracy: 0.7978
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4162 - accuracy: 0.7968
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4157 - accuracy: 0.7978
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4151 - accuracy: 0.7981
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4152 - accuracy: 0.7980
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4143 - accuracy: 0.7975
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4145 - accuracy: 0.7991
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4141 - accuracy: 0.7984
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4136 - accuracy: 0.7985
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4133 - accuracy: 0.7984
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4133 - accuracy: 0.7986
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4132 - accuracy: 0.7982
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4132 - accuracy: 0.8001
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4130 - accuracy: 0.7992
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4128 - accuracy: 0.7993
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4132 - accuracy: 0.7991
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4123 - accuracy: 0.8001
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4124 - accuracy: 0.7993
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4119 - accuracy: 0.7998
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4118 - accuracy: 0.7993
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4119 - accuracy: 0.7985
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4111 - accuracy: 0.8003
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4114 - accuracy: 0.7997
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4108 - accuracy: 0.8017
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4109 - accuracy: 0.7993
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4110 - accuracy: 0.8004
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4116 - accuracy: 0.7998
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4101 - accuracy: 0.7990
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4105 - accuracy: 0.8007
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4109 - accuracy: 0.8002
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4109 - accuracy: 0.8008
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4109 - accuracy: 0.8004
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4106 - accuracy: 0.8000
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4101 - accuracy: 0.8000
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4106 - accuracy: 0.8007
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4097 - accuracy: 0.8008
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4101 - accuracy: 0.8008
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4095 - accuracy: 0.8012
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4094 - accuracy: 0.7999
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4101 - accuracy: 0.8003
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4099 - accuracy: 0.8009
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4094 - accuracy: 0.8012
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4096 - accuracy: 0.8008
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4092 - accuracy: 0.8022
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4088 - accuracy: 0.8015
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4083 - accuracy: 0.8012
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4087 - accuracy: 0.8016
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4090 - accuracy: 0.8009
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4086 - accuracy: 0.8024
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4089 - accuracy: 0.8006
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4090 - accuracy: 0.8005
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4083 - accuracy: 0.8015
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4088 - accuracy: 0.8014
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4080 - accuracy: 0.8014
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4083 - accuracy: 0.8014
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4083 - accuracy: 0.8012
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4078 - accuracy: 0.8013
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4080 - accuracy: 0.8014
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4076 - accuracy: 0.8023

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4648 - accuracy: 0.7851 - 534ms/epoch - 2ms/step
Loss: 0.46482375264167786, Accuracy: 0.7850728631019592

In [22]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")